@tailwind base;
@tailwind components;
@tailwind utilities;

*, html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-width: 320px;
  min-height: 100vh;
  background-color: #202020;
  color: white;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #10CA00; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent 
}
.nav-list{
  overflow: hidden;

}
.nav-item{
  position: relative;
  
}
.nav-item::after{
  content: '  ';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: green;
  bottom: 0;
  left: 0;
  z-index: -2;
  transition: all 0.3s;
  transform: translateX(-85px);
}
.nav-item::before{
  content: '  ';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #10CA00;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-100px);
  transition: all 0.5s;
}
.nav-item:hover::before{
  transform: translateX(80px);
  width: 20%;
}
.nav-item:hover::after{
  transform: translateX(0px);
}
.gallery{
  column-count: 3;
  column-width: 33.3%;
}